
@{
	var x = "Ahmed";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
    @*Header*@
    <Center>
        <div>
            <a class = "btn btn-primary" href="/home/index">Home</a>
            <a class = "btn btn-primary" href="/home/privacy">Privacy</a>
        </div>
    </Center>
    @*Header*@
    @*Bady*@
    @*Bady*@
    @*Footer*@
    @*Footer*@
    <h1>Welcome Ahmed a Day is @DateTime.Now ya @x</h1>
</body>
</html>
